{% extends 'base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="/static/style/mainplace.css">
<style>
  .menu_2 {
    background-color: rgb(68, 86, 117);
  }
  .menu_2 > .menu_a{
    font-weight: lighter;
    color: white;      
  } 
</style>
{% include 'main_js.html' %}
{% endblock head %}

{% block contents %}
<main>
    <div class="header">
        {{headcount}}
        <div class="header-bar"></div>
        
    </div>
    <div class="cont">

        {% for room in rooms %}

        <div class="card">
        <div class="card-img" onClick= "location.href = '{% url 'rsv' room.id %}' ">
            <img src="{{ room.photo.url }}" />
            <div class="card-detail">
                <div class="goto-reserv a">
                    대관하기
                    <img src="{% static 'image/next.png' %}" class="a" />
                </div>
            </div>
        </div>
        <div class="card-description">
            <p class="number">{{ room.name }}</p>
            <p class="title">{{ room.subname }}</p>
            <p class="facility">{{ room.capacity }}석</p>
        </div>
        </div> 
        {% endfor %}
    </div>
</main>
{% endblock %}