<footer>
  <div class="bottom-section">
      <div class="bottom-section-link">
          <a href="{% url 'useGuide' %}#4"> 찾아오시는길</a>
          <a href=""> 이용약관 </a>
          <a href=""> 개인정보처리방침 </a>
          <a href=""> 이메일무단수집거부 </a>
      </div>
      <div class="bottom-section-p">
          <p id="locale"> 한양대학교 에리카캠퍼스:15588 경기도 안산시 상록구 한양대학로55 대관문의:010-6439-8402</p>
          <p id="copyright"> ⓒHanyang University Capstone Team Early20s. All Rights Reserved.</p>
      </div>
  </div>
</footer>