{% load static %}
<div class="totalmenu">
  <!-- 컨테이너 외부 눌렀을 때 팝업 꺼지게 만들기 -->
          <img src="/static/image/close.png" class="totalmenu-close a" onclick="menupopup(false)">
          <div class="totalmenu-cont">
              <li class="totalmenu-cont-li " style="height: 130px;">
                  <div class="li-left">대관소개</div>
                  <ul class="li-right">
                    <li><a href="{% url 'useGuide' %}#1" onclick="to_Useguide(1)" style='color:white'>이용안내</a></li>
                    <li><a href="{% url 'useGuide' %}#2" onclick="to_Useguide(2)" style='color:white'>주요연락처</a></li>
                      <!-- 누르면 UseGuide의 주요연락처 탭으로 가야함
                      근데 이게 링크로 바로가는게 아니라 그 페이지의 특정 탭을 열어야 하기 때문에 
                      그냥 <a>로는 안될거 같음  -->
                      <li><a href="{% url 'useGuide' %}#3" onclick="to_Useguide(3)" style='color:white'>캠퍼스안내도</a></li>
                      <li><a href="{% url 'useGuide' %}#4" onclick="to_Useguide(4)" style='color:white'>오시는길</a></li>
                  </ul>
              </li>
              
              <li class="totalmenu-cont-li" style="height: 100px;">
                  <div class="li-left">주요공간</div> 
                  <ul class="li-right right-fraction">
                      {% for place in mainplace %}                    
                      <li><a href="{% url 'rsv' place.id %}" style='color:white'>
                        {{ place.name }}</a></li> 
                      {% endfor %}
                  </ul>                      
              </li>
              <li class="totalmenu-cont-li" style="height: 120px;">
                  <div class="li-left">건물별안내</div>
                  <ul class="li-right right-fraction" style="margin-left: 20pt;">
                      {% for building in buildings.all %}                    
                      <li><a href="{% url 'roomlist' building.id %}" style='color:white'>
                        {{ building.name }}</a></li> 
                      {% endfor %}
                  </ul>
              </li>
              <li class="totalmenu-cont-li" style="border: none; margin-top: -20px;">
                  <div class="li-left">FAQ</div>
                  <ul class="li-right" style="margin-left: 75pt; margin-top: 20px;">
                    <li></li><a href="{% url 'faq' %}" style='color:white'>자주묻는질문</a></li>
                  </ul>
              </li>
          </div>
</div> 